<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>
        Sign Up
    </title>
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <%- include('../partials/nav.ejs')%>
        <%- include('../partials/message.ejs')%>
            <form action="/users" method="POST">
                <label for="fName">First Name</label><br>
                <input type="text" id="fName" name="firstName"><br><br>
                <label for="lName">Last Name</label><br>
                <input type="text" id="lName" name="lastName"><br><br>
                <label for="email">Email</label><br>
                <input id="email" name="email"><br><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br><br>
                <button>Sign Up</button><br>
            </form>
            <%- include('../partials/footer.ejs')%>
</body>


</html>