<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>
        My Profile
    </title>
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <%- include('../partials/nav.ejs')%>
            <h3>Welcome, <%=userName%></h3>    
        <%- include('../partials/footer.ejs')%>
</body>

</html>