<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>List of restaurants</title>
    </head>
    <body style="margin: 0;">
        <header>
            <h3 style="margin: 0;">Welcome to Fast Food Inc!</h3>
        </header>

            <table>
                <tr>
                    <th>Restaurant Name</th>
                </tr>
                <tr>
                    <td><a href="restaurant">Bojangles</a></td>
                </tr>
                <tr>
                    <td><a href="restaurant">Dominos</a></td>
                </tr>
                <tr>
                    <td><a href="restaurant">Subway</a></td>
                </tr>
            </table>

        <footer id="last">
            Sindhura Chaganti
        </footer>
    </body>
</html>