<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Restaurant</title>
    </head>
    <body style="margin: 0;">
        <header>
            <h3 style="margin: 0;">Welcome to Bojangles!</h3>
        </header>

        <img src="https://cdn2.newsok.biz/cache/large960_blur-ab81dcbe0cd748492c1b99f7fade75b0.jpg" id="image" alt="Image not found.">
        <table>
            <tr>
                <th>Restaurant Name</th>
                <th>Year Founded</th>
                <th>Founder</th>
            </tr>
            <tr>
                <td>Bojangles</td>
                <td>1977</td>
                <td>Jack Fulk</td>
            </tr>
        </table>
        <footer id="last">
            Sindhura Chaganti
        </footer>
    </body>
</html>