body,
h3 {
    margin: 0;
}

header,
footer {
    color: white;
    background-color: blue;
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

table,
td,
th {
    border: 1px solid black;
}

img {
    width: 300px;
    border: 1px solid black;
}

nav {
    margin-top: 1cm;
    margin-bottom: 1cm;
}