<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact UNCC Runners</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="header">
            <%- include('./partials/header.ejs')%>
    
            <%- include('./partials/navigation.ejs') %>
        </header>
        <h3 id="contact">
            <span id="contactUs">Contact Us:</span><br/>
            Contact Name: Sindhura Chaganti<br/>
            Email ID: schagan2@uncc.edu<br/>
            Phone: (999) 999-9999<br/>
            Address: <br/>9201 University City Blvd, Charlotte, NC 28223
        </h3>
        <%- include('./partials/aside.ejs') %>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>