<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UNCC Sign-up</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="header">
            <%- include('./partials/header.ejs')%>
        </header>
        <form method="GET">
            <label>First Name: </label>
            <input type="text" name="firstName" /><br/>
            <label>Last Name: </label>
            <input type="text" name="lastName" /><br/>
            <label>Email: </label>
            <input type="text" name="email"/><br/>
            <label>Password: </label>
            <input type="password" name="password"><br/>

            <input type="submit" value="Sign up"></input>
        </form>

        <%- include('./partials/aside.ejs') %>

        <%- include('./partials/footer.ejs')%>
    </body>
</html>