<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>
        New Restaurant
    </title>
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <%- include('../partials/nav.ejs')%>
        <%- include('../partials/message.ejs')%>
            <form action="/restaurants" method="POST">
                <label for="name">Restaurant Name</label><br>
                <input type="text" id="name" name="name"><br><br>
                <label for="yearFounded">Year Founded</label><br>
                <input type="text" id="yearFounded" name="yearFounded"><br><br>
                <label for="owner">Owner</label><br>
                <input type="text" id="owner" name="owner"><br><br>
                <label for="imageURL">Image URL</label><br>
                <input type="text" id="imageURL" name="imageURL"><br><br>
                <button>Submit</button><br>
            </form>
            <%- include('../partials/footer.ejs')%>
</body>


</html>