header, footer{
    color: white;
    background-color: blue;
    text-align: center;
    width: 100%;
}

#last{
    bottom: 0;
    height: 30px;
    padding: 10px 10px 0px 10px;
    position: fixed;
}

table, th, td, img{
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

#image{
    width: 300px;
}