<html>
    <head>
        <meta charset="UTF-8">
        <title>Error Page</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body style="text-align: center;">
        <%- include('./partials/header.ejs', {headerName: 'Error Page'}) %>

        <h3><%= error %></h3>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>