<header>
    <% if(headerName === ("Error Page")){ %>
        <h3 style="margin: 0;"><%= headerName%> !!!</h3>
    <% } else { %>
        <h3 style="margin: 0;">Welcome to <%= headerName%> !!!</h3>
    <% } %>
</header>